.hero {
    position: relative;
    width: 100%;
    height: 645px;
    overflow: hidden;

    &__logo {
        position: absolute;
        z-index: 1;

        img {
            padding-top: 5.6vw;
            width: 100%;
        }
    }

    &__carousel {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            animation: slide 20s infinite ease-in-out;
            animation-fill-mode: both;

            &:nth-child(1) { animation-delay: 0s; }
            &:nth-child(2) { animation-delay: 4s; }
            &:nth-child(3) { animation-delay: 8s; }
            &:nth-child(4) { animation-delay: 12s; }
            &:nth-child(5) { animation-delay: 16s; }
        }
    }
}



@keyframes slide {
    0% {
        opacity: 0;
        transform: scale(1.05);
    }
    10% {
        opacity: 0.5;
        transform: scale(1);
    }
    30% {
        opacity: 0.5;
    }
    40% {
        opacity: 0;
        transform: scale(0.98);
    }
    100% {
        opacity: 0;
    }
}

