$bg-primary: #0b0f14;      // Noite fria
$bg-secondary: #141922;   // Pedra escura
$bg-section: #1c222e;     // Muralhas

// houses (Stark)
$bg-stark: #0c1220;   // Fundo Stark
$stark-primary: #7dd3fc;   // Gelo
$stark-secondary: #94a3b8; // Cinza gelo

//houses (Lannister)

//houses (Targaryen)

//houses (Baratheon)

//houses (Greyjoy)

//houses (Tyrell)

//houses (Martell)



// Texto
$text-primary: #e5e7eb;   // Branco envelhecido
$text-secondary: #9ca3af; // Cinza frio
$text-muted: #6b7280;

// Destaques neutros
$border-soft: rgba(255, 255, 255, 0.08);
$shadow-deep: rgba(0, 0, 0, 0.6);